@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-body: "Poppins", sans-serif;
  --padding: 10px;
  --font-size: 1.6rem;
  --text_color: rgb(45, 45, 45);
  --sidebar_height: 48px;
  --menu-item_width: 230px;
  --menu_height: 946px;
  --header_height: 60px;
  --line-height: 1.5;
  --box_shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  --border_radius: 8px;

  // background gray
  --bg_color: rgb(255, 255, 255);
  --bg_secondary_color: rgb(239, 242, 245);
  --bg_secondary_border_color: rgb(230, 230, 230);
  --ui_color: rgb(45, 45, 45);
  --ui_color_least: rgb(221, 221, 221);

  --theme_color: rgb(253, 150, 27);
  --theme_color01: rgba(253, 150, 27, 0.1);
  --theme_color08: rgba(253, 150, 27, 0.8);
  --theme_color2: rgb(81, 69, 157);
  --theme_main: #2c72b8;
  --theme_background: #f4f7fa;

  --c_title_upline: #e8f1f3;
  --c_red: rgba(242, 0, 60, 0.7);
  --C_red_light: rgb(254, 44, 85);
  --c_pink: rgba(251, 198, 207, 0.6);
  --c_orange: rgb(248, 150, 30);
  --c_yellow: rgb(245, 189, 31);
  --c_green: #2dfd508d;
  --c_purple: rgb(81, 69, 157);
  --c_blue: rgba(0, 147, 175, 0.5);
  --c_white: #fff;
  --c_text_phu: rgba(22, 24, 35, 0.5);
  --c_text_phu_2: rgba(22, 24, 35, 0.2);
  --c_back_cv_active: rgb(22, 24, 35); //theme background color black
  --c_back_cv: rgba(22, 24, 35, 0.06);
  --c_active_upline: #16182314;
  --c_medal: #ffb02e;

  --b_liner: linear-gradient(135deg, #fffbd5, #b20a2c);
  --b_liner_2: linear-gradient(to bottom, #afc8fd, #fafcff);

  // animation ring
  //
}
//aniomation backgrond
// transition: 300ms ease-out background, 300ms ease-out color, border-right-color 300ms ease-out;
// gridTemplateColumns: { xs: "1fr", sm: "1fr 1fr", md: "1fr 1fr 1fr" },

html {
  font-size: 62.5%;
  background-image: var(--b_liner);
  height: 100%;
}
// toàn bộ phần cuộn
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
// phần keep để cuộn
html *::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(22, 34, 35, 0.06);
}
// phần đường ray
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body) !important;
  line-height: var(--line-height);
  color: var(--ui_color) !important;
  font-size: var(--font-size);
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
  //   transition: 300ms ease-out background, 300ms ease-out color

  .carousel-indicators [data-bs-target] {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: #fff;
    margin-bottom: -13px !important;
  }

  .carousel-indicators .active {
    background-color: var(--theme_main);
  }
}
body.hidden {
  overflow: hidden;
}
// custom_button
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

// custom_a
a {
  color: var(--ui_color) !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
}
//custom_dark mode
[data-theme="dark"] {
  --bg_secondary_color: rgba(30, 30, 30, 1);
  --bg_color: rgba(30, 30, 30, 1);
  --ui_color: rgba(255, 255, 255, 1);
  --theme_background: var(--text_color);
}
.hiden {
  display: none;
}
