@media screen and (max-width: 1024px) {
  .wrraper_add_discount {
    position: fixed;
    width: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
    pointer-events: auto;
  }
  .tab_add_discount {
    width: 100%;
    max-height: calc(100vh - 20px);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 60px;
    background-color: var(--c_white);
    color: var(--c_white);
    flex-direction: column;
    padding: 1px;
    border-radius: 16px;
    animation: modal_create ease 0.5s;
    transition: all 0.2s linear;
    overflow-y: auto;
  }

  @keyframes modal_create {
    from {
      top: 110px;
    }
    to {
      top: 60px;
    }
  }
}
