@media screen and (max-width: 1024px) {
  .wrapper {
  }
  .container {
    display: flex;
    width: 100%;
  }
  .content {
    flex: 1;
    min-height: 1000px;
    overflow: auto;
    background-color: var(--theme_background);
    margin-left: var(--sidebar_width);
    margin-top: var(--header_height);
  }
}
