@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .content {
    position: relative;    
    min-height: 850px;
    overflow: auto;
    background-image: var(--b_liner);
    top: var(--header_height);
    padding-bottom: 40px;
  }
}
