.wrapper {
  width: calc(var(--sidebar_width) + var(--menu-item_width));
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: var(--sidebar_width);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--bg_secondary_color));
  border-right: 1px solid transparent;
  border-right-color: rgba(var(--bg_secondary_border_color));
  box-sizing: border-box;
  z-index: 1;
  // transition: 300ms ease-out background, 300ms ease-out color, border-right-color 300ms ease-out;
}
.logo {
  position: absolute;
  top: calc(var(--padding) * 2);
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 70px;
  cursor: pointer;
}
.tab {
  width: 100%;
  position: absolute;
  top: 140px;
  right: 0;
  left: 0;

  .active {
    color: orangered;
    font-weight: bold;
  }
}
.tab-items {
  font-size: 60%;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: color 0.3s ease;

}
.light-mode {
  position: absolute;
  right: calc(var(--padding) * 2);
  left: calc(var(--padding) * 2);
  text-align: center;
  line-height: 1.2;
  padding: 5px 0;
  font-size: 80%;
  bottom: calc(var(--padding) * 2);
  height: 20px;
  background: #001d49;
  color: aqua;
  border: 1px solid transparent;
  opacity: 0.2;
  border-radius: 16px;
  cursor: pointer;
  transition: all 200ms ease;
}
.tab-icon {
  margin-right: 8px;
}
.menu_item {
  width: var(--menu-item_width);
  font-size: 90%;
  position: fixed;
  left: var(--sidebar_width);
  top: 0;
  bottom: 0;
  background: rgba(var(--bg_secondary_color));
  overflow: auto;
  border-right: 1px solid transparent;
  border-right-color: rgba(var(--bg_secondary_border_color));

  // transition: 300ms ease-out background, 300ms ease-out color, border-right-color 300ms ease-out;

  .active {
    position: fixed;
    display: block;
    background-color: rgba(var(--bg_secondary_color));
    animation: highlight 3s none 1;
    width: var(--menu-item_width);
    z-index: 0;   
  }
}
.title {
  text-align: center;
  position: relative;
  opacity: 0.25 !important;
  margin: calc(var(--padding) * 2) !important;

  span {
    /* opacity: 0.8; */
    font-size: 100%;
    font-weight: 500;
    display: inline-block;
    background: rgba(var(--bg_secondary_color));
    z-index: 2;
    position: relative;
    color: rgba(var(--ui_color), 0.6);
    padding: 0 10px;
  }
}
.title::after {
  content: "";
  position: absolute;
  background: rgba(var(--ui_color));
  opacity: 0.2;
  height: 2px;
  width: 230px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 0;
}
.list-link {
  overflow: hidden;
}
.tab-pane {
  display: none;
  width: 100%;
  padding: calc(var(--padding) * 2);
  line-height: 1.5;
}
a.item-link {
  display: block;
  position: relative;
  margin-bottom: 20px;
  line-height: 40px;
  opacity: 0.8;
  border-radius: 18px;
  background: rgba(var(--theme_color), 0.1);
  color: rgba(var(--theme_color), 0.8);
  padding: 0 10px 0 10px;
}
.p{
  text-align: center;
}
@keyframes highlight {
  0% {
    opacity: 0;
    left: -59px;
  }
  100% {
    opacity: 1;
    left: var(--sidebar_width);
  }
}
