// Mobile-tablet
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--bg_secondary_color);
    height: var(--header_height);
    border-bottom: 1px solid var(--bg_secondary_border_color);
    box-shadow: var(--box-shadow);
  }
  .content {
    width: 100%;
    display: flex;
    padding: 0 24px 0 16px;
    position: relative;
  }
  .header_left {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 118px;
    height: 42px;
    display: flex;

    .icon_img {
      width: 100%;
      margin: auto;
      cursor: pointer;
      margin-left: 20px;
    }
  }
  .header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 15px;
    justify-content: space-between;
    width: 120px;
  }
  .calendar {
    position: relative;
  }
  .calendar_icon {
    font-size: 24px;
  }
  .message_count {
    top: 5px;
    left: 10px;
  }
  .message_count,
  .noti_count {
    position: absolute;
    min-width: 20px;
    height: 20px;
    background: var(--C_red_light);
    color: var(--bg_color);

    border-radius: 10px;

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .calendars {
    position: absolute;
    top: 6px;
    left: -268px;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: -15px;
      right: 120px;
      transform: rotate(45deg);
      z-index: -1;
      background: var(--c_white);
    }
  }
  .title_cal {
    padding: 10px;

    .activeCV {
      background: var(--c_back_cv_active);
      color: var(--c_white);
    }
  }
  .item_tile_cal {
    padding: 2px 8px;
    background: var(--c_back_cv);
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    display: inline-block;
    margin: 0 8px 12px 0;
  }
  .notifications {
    position: absolute;
    top: 9px;
    left: -306px;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: -16px;
      right: 70px;
      transform: rotate(45deg);
      z-index: -1;
      background: var(--c_white);
    }
  }
  .wrapper_notifi {
    max-width: 385px;
    margin-top: -10px;
    width: 385px;
    height: 513px;
    max-height: 513px;
    overflow: scroll;
    padding: 10px;
  }
  .content_notifi {
    overflow: hidden;
  }
  .item_notifi {
    display: flex;
    border-bottom: 1px solid #e6e6e66b;
    padding: 10px;
  }
  .img_notifi {
    margin-top: 10px;
  }
  .img_avatar {
    width: 48px;
    height: 48px;
  }
  .info_notifi {
    padding: 0 12px;
    line-height: 1.8;
    position: relative;

    .tb_item {
      width: 10px;
      height: 10px;
      background: var(--c_red);
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: -15px;
    }
  }

  .notifi {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
  }
  .title_notifi {
    color: rgb(22, 24, 35);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .time_notifi {
    color: var(--c_text_phu);
    margin-right: 10px;
    font-size: 12px;
  }

  span.icon_time_notifi {
    svg {
      margin-right: 5px;
    }
  }
  .noti_count {
    top: 3px;
    right: 47px;
  }
  .ring-icon {
    animation: ring 1.6s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    // color: var(--theme_main);
  }
  .avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .name {
    position: relative;

    .dot_red {
      width: 10px;
      height: 10px;
      background: var(--c_red);
      border-radius: 50%;
      position: absolute;
      top: 25px;
      left: 326px;
    }
  }
  .icon_person {
    margin-bottom: 5px;
  }
  .time_schuedule {
    color: var(--c_text_phu);
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    margin-right: -15px;
  }
  .message {
    font-size: 14px;
    font-weight: 400;
  }

  .noti_none {
    font-size: 14px;
    font-weight: 500;
    color: var(--c_text_phu);
    padding: 10px;
    text-align: center;
  }
  .notifi_empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 50%;
  }

  //Key frames

  @keyframes ring {
    0% {
      transform: rotate(20deg);
    }
    12.5% {
      transform: rotate(-20deg);
    }
    25% {
      transform: rotate(22deg);
    }
    37.5% {
      transform: rotate(-18deg);
    }
    50% {
      transform: rotate(13deg);
    }
    62.5% {
      transform: rotate(-9deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
